@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@400;700&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

:root {
    font-size: 100%;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3em;
}

code {
    border: 0 !important;
    padding: 0 !important;
    font-size: 0.9em;
    font-family: 'Courier Prime', 'Courier', 'Courier New', monospace !important;
}

.content p {
    line-height: 1.3em;
}

sup {
    vertical-align: super;
    display: inline-block;
    margin-top: -0.5em;
    border: 0.1em solid transparent;
}

sup > * {
    font-size: smaller;
}

h1, h2, h3, h4, h5 {
    margin-block-start: 1em;
}

h1 {
    font-size: 1.4rem;
    line-height: 1.3em;
    font-weight: bold;
}

h1, h2 {
    text-transform: uppercase;
    margin-block-end: 0.625rem;
}

h2, h3, h4, h5 {
    font-size: 1.3rem;
}

h3, h4, h5 {
    margin-block-end: 0.325em;
}

h1.menu-title {
    font-family: 'Times', 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3rem;
    font-style: italic;
}


h1.title {
    font-family: 'Sorts Mill Goudy', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

div.subtitle {
    font-size: 1.3rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}

div.credits * {
    text-align: center;
}


p, ul {
    margin-block-start: 0;
    margin-block-end: 0.65em;
}

ul {
    padding-left: 1em;
}

ul li {
    list-style-type: square;
}

ul.credits {
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul.credits li {
    list-style-type: none;
}

table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    width: 100%;

    display: grid;
    grid-template-columns: 30% 70%;
    font-size: smaller;
}

thead {
    display: contents;
}

tbody, tr {
    display: contents;
}

th {
    text-align: left;
}

th, td {
    padding-left: 0 !important;
}
